name: Build and Push to ACR
on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Docker Login to ACR
      uses: azure/docker-login@v1
      with:
        login-server: learningacrpk01.azurecr.io
        username: ${{ secrets.learningacrpk01 }}
        password: ${{ secrets./xx4Oltjwcxw00P76YY03JuxGAzsIodFyue6cEph25+ACRBmXHYe }}

    - name: Build and Push image
      run: |
        docker build -t learningacrpk01.azurecr.io/learning-app:v1 .
        docker push learningacrpk01.azurecr.io/learning-app:v1
